<!DOCTYPE html>
<html lang="en">
<div th:fragment="banner">
    <div class="row">
        <div class="col-md-8">
            <img id="logo" src="img/sample-logo.jpg" width="383" alt="Sample Logo"/>
        </div>
    </div>

    <script>
        const defaultLogoImageUrl = "img/logo.jpg"; // Default logo
        const logoImageElement = document.getElementById("logo");

        // Check if the logo image is available
        const logoImg = new Image();
        logoImg.src = defaultLogoImageUrl;

        logoImg.onload = function() {
            // Logo image is available
            logoImageElement.src = defaultLogoImageUrl;
        };


    </script>
    <!-- Error banner in case anything went wrong -->
    <div class="alert  alert-danger alert-dismissable" th:if="${errorMsg} != null">
        <strong>Warning!</strong>
        <p th:text="${errorMsg}"></p>
    </div>

</div>
</html>
